---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Pagination from "../../components/Pagination.astro";
import BlogPost from "../../components/BlogPost.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths({ paginate }) {
    const allPosts = await getCollection("posts");
    return paginate(allPosts, {
        pageSize: 6,
    });
};

const { page }: any = Astro.props;
---

<BaseLayout pageTitle="Blogs">
    <ul>
        {page.data.map((post: any) => <li><BlogPost link={post.slug} title={post.data.title} /></li>)}
    </ul>
    <Pagination noOfPages={page.lastPage} currentPage={page.currentPage} />
</BaseLayout>