@font-face {
    font-family: 'obviously';
    src: url('../fonts/obviously-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'inter';
    src: url('../fonts/inter-variablefont_slntwght-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: obviously, sans-serif;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar{
    display: none;
}

body{
    background-color: #0D0F14;
    min-width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
    display: grid;
    line-height: 1.5;
}