---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';

export async function getStaticPaths() {
    const allPosts = await getCollection("posts");
    const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];
    return uniqueTags.map(tag => {
        const posts = allPosts.filter(post => post.data.tags.includes(tag));
        return {
            params : {tag,},
            props: {posts,},
        };
    });
};

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
    <p>All posts conatining the tag: {tag}</p>
    <ul>
        {posts.map(post => <li><BlogPost link={`../blog/${post.slug}`} title={post.data.title} ></BlogPost></li>)}
    </ul>
</BaseLayout>
