---
---

<footer>
    <div>
        MIT License &#169; 2024 &nbsp; Harjas Sidhu
    </div>
</footer>

<style>
    footer{
        display: flex;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
        height: 6rem;
        padding: 2rem;
        align-items: center;
        justify-content: flex-end;
    }
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        color: white;
        opacity: 0.6;
    }
</style>