---
let { noOfPages, currentPage, baseUrl } = Astro.props;
currentPage = currentPage * 1;
noOfPages = noOfPages * 1;
let mainArray = [...new Set()];
let min = Math.max(1, currentPage-1);
let max = Math.min(noOfPages, currentPage+1);
if(min == noOfPages-1 && noOfPages > 2){
    min--;
}
if(max == 2 && max+1 <= noOfPages){
    max++;
}
for(let i = min; i<=max; i++){
    mainArray.push(i);
}
---

<section class="pagination">

    {min > 1 && <a href={baseUrl}>1</a>}

    {min > 2 && <span>. . .</span>}

    {mainArray.map(page => 
        <a href={baseUrl+`${page===1?"":page}`} class={currentPage==page?"currentPage":""}>{page}</a>
    )}

    {max < noOfPages-1 && <span>. . .</span>}

    {max < noOfPages && <a href={baseUrl+`${noOfPages}`}>{noOfPages}</a>}
    
</section>


<style>
    .pagination{
        display: flex;
        width: 80%;
        height: 7rem;
        align-self: center;
        padding: 0rem 2rem;
        column-gap: 3rem;
        align-items: center;
        justify-content: center;
        z-index: 5;
    }
    a{
        position: relative;
        color: white;
        text-decoration: none;
        display: flex;
        padding: 0.5rem;
        height: 3rem;
        width: 3rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-radius: 0.4rem;
    }
    .currentPage:before{
        position: absolute;
        height: 100%;
        width: 100%;
        content: "";
        margin: -1px;
        inset: 0;
        border-radius: inherit;
        background: linear-gradient(247.23deg,#4af2c8 0%,#2f4cb3 100%);
        z-index: -2;
    }
    .currentPage:after {
        position: absolute;
        height: 100%;
        width: 100%;
        inset: 0;
        z-index: -1;
        content: "";
        border-radius: inherit;
        background: #23262d linear-gradient(247.23deg,#4af2c833 0%,#2f4cb333 100%);
    }
    a:hover{
        border: 1px solid white;
    }
    .currentPage:hover{
        border: 0px;
    }
    span{
        color: white;
    }
</style>