---
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");
const uniqueTags = [...new Set(allPosts.map(post => post.data.tags).flat())];
---

<div class="allTags">
    {uniqueTags.map(tag => <a href={`/tags/${tag}`} class="tag">{tag}</a>)}
</div>

<style>
    .allTags{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .tag{
        display: flex;
        width: 80%;
        padding: 1rem 0rem;
        color: #BFC1C9;
        font-size: 100%;
        font-weight: 100;
        border-top: 1px solid #E5E7EB4A;
        text-align: center;
        text-decoration: none;
        font-family: inter, sans-serif;
        text-transform: capitalize;
    }
</style>